{:paths          ["script"]
 :deps           {}
 :min-bb-version "0.4.0"
 :tasks          {generate-reflection-config
                  {:requires ([reflection :as r])
                   :doc      "Generate config files for GraalVM native-image"
                   :task     (let [profiles (cond-> '("test")
                                              (Boolean/valueOf (System/getenv "LMGREP_FEATURE_RAUDIKKO"))
                                              (conj "raudikko"))]
                               (println "Running the tests with a native image agent:")
                               (shell (str
                                        "clojure -J-agentlib:native-image-agent=config-output-dir=graalvm -M:"
                                        (clojure.string/join ":" profiles)))
                               (println "Filtering Lucene classes with all their constructors:")
                               (r/gen))}

                  print-query-parsers-attributes-compatibility-table
                  {:requires ([reflection :as r])
                   :doc      "Print query parsers attributes compatibility table"
                   :task     (shell "clojure -M -i script/query-parser-attributes-table.clj")}}
 }

