{:paths
 ["src" "resources"]
 :deps
 {org.clojure/clojure                        {:mvn/version "1.10.3"}
  org.clojure/tools.cli                      {:mvn/version "1.0.206"}
  org.clojure/tools.logging                  {:mvn/version "1.1.0"}
  org.clojure/core.async                     {:mvn/version "1.4.627"}
  org.apache.lucene/lucene-core              {:mvn/version "8.10.1"}
  org.apache.lucene/lucene-monitor           {:mvn/version "8.10.1"}
  org.apache.lucene/lucene-analyzers-stempel {:mvn/version "8.10.1"}
  metosin/jsonista                           {:mvn/version "0.3.4"}
  lt.jocas/lucene-monitor-helpers            {:mvn/version "0.1.7"}
  babashka/fs                                {:mvn/version "0.1.0"}
  io.quarkiverse.lucene/quarkus-lucene       {:mvn/version "0.3"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "classes" "test" "test/resources"]
   :extra-deps  {org.clojure/tools.deps.alpha {:mvn/version "0.12.1067"
                                               :exclusions  [org.slf4j/slf4j-log4j12
                                                             org.slf4j/slf4j-api
                                                             org.slf4j/slf4j-nop]}
                 criterium/criterium          {:mvn/version "0.4.6"}}}
  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}}
   :main-opts   ["-m" "cognitect.test-runner"]}
  :clj-kondo
  {:main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]
   :extra-deps {clj-kondo/clj-kondo {:mvn/version "2021.10.19"}}
   :jvm-opts   ["-Dclojure.main.report=stderr"]}
  :uberjar
  {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.303"}}
   :exec-fn      hf.depstar/uberjar
   :exec-args    {:aot true}}}}
