{:paths         ["target/raudikko.jar"]
 :deps          {org.apache.lucene/lucene-core {:mvn/version "9.5.0"}
                 fi.evident.raudikko/raudikko  {:mvn/version "0.1.2"}}
 :deps/prep-lib {:ensure "target/raudikko.jar"
                 :alias  :build
                 :fn     jar}
 :aliases
 {:build
  {:deps       {org.clojure/clojure           {:mvn/version "1.11.1"}
                io.github.clojure/tools.build {:git/tag "v0.9.3" :git/sha "e537cd1"}}
   :ns-default build}}}
