{:paths         ["classes"]
 :deps          {org.apache.lucene/lucene-core    {:mvn/version "9.5.0"}
                 org.apache.lucene/lucene-monitor {:mvn/version "9.5.0"}}
 :deps/prep-lib {:ensure "classes"
                 :alias  :build
                 :fn     compile-java}
 :aliases
 {:build
  {:deps       {org.clojure/clojure           {:mvn/version "1.11.1"}
                io.github.clojure/tools.build {:git/tag "v0.9.0" :git/sha "8c93e0c"}}
   :ns-default build}}}
