{:paths         ["resources" "classes"]
 :deps          {org.apache.lucene/lucene-core            {:mvn/version "9.0.0"}
                 org.apache.lucene/lucene-analysis-common {:mvn/version "9.0.0"}}
 :deps/prep-lib {:ensure "classes"
                 :alias  :build
                 :fn     compile-java}
 :aliases
 {:build
  {:deps       {org.clojure/clojure           {:mvn/version "1.10.3"}
                io.github.clojure/tools.build {:tag "v0.7.5" :sha "34727f7"}}
   :ns-default build}}}
