{:paths         ["target/snowball-token-filters.jar"]
 :deps          {org.apache.lucene/lucene-core            {:mvn/version "9.2.0"}
                 org.apache.lucene/lucene-analysis-common {:mvn/version "9.2.0"}}
 :deps/prep-lib {:ensure "target/snowball-token-filters.jar"
                 :alias  :build
                 :fn     jar}
 :aliases
 {:build
  {:deps       {org.clojure/clojure           {:mvn/version "1.11.1"}
                io.github.clojure/tools.build {:tag "v0.8.3" :sha "0d20256"}}
   :ns-default build}}}
