{:paths         ["target/bundled-analyzers.jar"]
 :deps          {org.apache.lucene/lucene-core            {:mvn/version "9.7.0"}
                 org.apache.lucene/lucene-analysis-common {:mvn/version "9.7.0"}}
 :deps/prep-lib {:ensure "target/bundled-analyzers.jar"
                 :alias  :build
                 :fn     jar}
 :aliases
 {:build
  {:deps       {org.clojure/clojure           {:mvn/version "1.11.1"}
                io.github.clojure/tools.build {:mvn/version "0.9.4"}}
   :ns-default build}}}
