name: clj-kondo checks

on: [push]

jobs:
  linting:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3.3.0
      - uses: DeLaGuardo/clojure-lint-action@master
        with:
          clj-kondo-args: --lint src test
          github_token: ${{ secrets.GITHUB_TOKEN }}
